/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*General */

@import url(//db.onlinewebfonts.com/c/c16f494de2b352a69ead71431b29a155?family=Kaleko205W00-Book);

@font-face {
  font-family: "Kaleko205W00-Book";
  src: url("//db.onlinewebfonts.com/t/c16f494de2b352a69ead71431b29a155.eot");
  src: url("//db.onlinewebfonts.com/t/c16f494de2b352a69ead71431b29a155.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c16f494de2b352a69ead71431b29a155.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/c16f494de2b352a69ead71431b29a155.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/c16f494de2b352a69ead71431b29a155.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/c16f494de2b352a69ead71431b29a155.svg#Kaleko205W00-Book")
      format("svg");
}

body {
  scroll-behavior: smooth;
  font-family: "Kaleko205W00-Book";
  font-size: 14px;
}

.debug {
  border: 1px solid black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*Nav */

nav {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: black;
  position: fixed;
  z-index: 3;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 10px;
}

.button {
  color: white;
  background-color: #4a4a4a;
  border-radius: 5px;
  position: absolute;
}

#grid {
  height: 30px;
  width: 250px;
  text-align: center;
  line-height: 160%;
  margin-top: 6px;
  padding-top: 2px;
}

#maximize {
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 160%;
  margin-top: 6px;
  padding-top: 2px;
  margin-right: 3px;
}

/*Main */

main {
  width: 100%;
  height: 1200px;
  padding-top: 100px;
  background-color: gray;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 7px;
}

.profile {
  width: 235px;
  height: 177px;
}

.profile > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  width: 40px;
  height: 20px;
  color: white;
  background-color: #4a4a4a;
  opacity: 2;
  z-index: 2;
}
