/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*General */

body {
  scroll-behavior: smooth;
  font-family: "Kaleko205W00-Book";
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.debug {
  border: 1px solid black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*Nav */

nav {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: black;
  position: fixed;
  z-index: 3;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 8px;
}

.nav-btn {
  color: white;
  background-color: #4a4a4a;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

#grid {
  height: 28px;
  width: 110px;
  gap: 3px;
}

#maximize {
  height: 28px;
  width: 30px;
  margin-right: 5px;
}

.nav-btn:hover {
  cursor: pointer;
  text-shadow: 2px 3px 5px red;
}

/*Main */

main {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 100px;
}

.profile {
  width: 235px;
  height: 177px;
  display: flex;
  align-items: flex-end;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 18px;
}

.profile i {
  color: red;
}

.profile i:hover {
  color: green;
  cursor: pointer;
}

.profile > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  width: 120px;
  height: 30px;
  color: white;
  background-color: #4a4a4a94;
  z-index: 2;
  position: absolute;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

/*Footer Navbar */

footer {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #222222;
  position: fixed;
  z-index: 3;
  flex-flow: row nowrap;
  justify-content: space-between;
  bottom: 0;
}

.one {
  width: 12%;
  height: 100%;
  background-color: #222222;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.two {
  width: 45%;
  height: 100%;
  background-color: #222222;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.three {
  width: 7%;
  height: 100%;
  background-color: #4a4a4a;
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: white;
  background-color: #222222;
  font-size: 30px;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 5px;
}

.btn > p {
  font-size: 15px;
  font-weight: bold;
}

.long {
  width: 144px;
}

.medium {
  width: 30px;
}

.green {
  color: chartreuse;
}

.btn:hover {
  cursor: pointer;
  text-shadow: 2px 3px 5px red;
}

.fa-chevron-up {
  align-self: center;
}

.fa-chevron-up:hover {
  cursor: pointer;
  color: red;
}

.three > span:hover {
  cursor: pointer;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  50% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
